.venv/
venv/
__pycache__/
*.pyc
backend/.env
backend/data/*.csv
.DS_Store
*.db
test_main.http
backend/data/master_team_seasons.csv
backend/data/transfers_raw.csv
backend/data/nil_estimates_all.csv
backend/data/coaching.csv
backend/data/games.csv
backend/data/recruiting.csv
backend/data/team_seasons_raw.csv
backend/data/team_stats.csv
backend/test_token.py
backend/test_token.py
backend/test_token.py
backend/debug_auth.py
backend/debug_route.py
.idea/
backend/test_auth.py
